<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Physical Harassment Section</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div #map id="map"></div>
  <div class="ion-padding">
    <ion-button (click)="getCurrentCoordinates()" expand="block">
      Get Location
    </ion-button>
  </div>

  <span class="Camera">
    <img src="{{imgURL}}" height ="200" width="200" />
    
     <ion-button (click) = "getCamera()">From Camera</ion-button>
    <ion-button (click) = "getGallery()">From Gallery</ion-button>
  </span>

  <ion-grid>
   
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-input placeholder="Enter the sender phone #" [(ngModel)]="from" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-input placeholder="Enter the destination phone #" [(ngModel)]="to" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-input placeholder="Enter your SMS message" [(ngModel)]="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button expand="full" color="primary" (click)="sendSms()">
          Send It!
          <ion-icon slot="end" name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
