<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-menu contentId="main" menuId="main" side="start" type="overlay">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <ion-label>
          <h1><b>My Safety App</b></h1>
        </ion-label>
      </div>
      <ion-list class="menu-items" lines="none">
        <ion-items [routerLink] = "['/emergency-contacts']" routerLinkActive="router-link-active" ><p>
          <ion-icon name="people"></ion-icon>Update Emergency Contact</p>
        </ion-items>
        <ion-items [routerLink] = "['/harassment']" routerLinkActive="router-link-active"><p>
          <ion-icon name="woman"></ion-icon>Woman Harassment</p>
        </ion-items>
        <ion-items [routerLink] = "['/natural-disaster']" routerLinkActive="router-link-active"><p>
          <ion-icon name="rainy"></ion-icon>Natural Disaster</p>
        </ion-items>
        <ion-items [routerLink] = "['/accident']" routerLinkActive="router-link-active"><p>
          <ion-icon name="add"></ion-icon>Accident</p>
        </ion-items>
        <ion-items [routerLink] = "['/fire-incident']" routerLinkActive="router-link-active"><p>
          <ion-icon name="flame"></ion-icon>Fire-Gas Incident</p>
        </ion-items>
        <ion-items [routerLink] = "['/welcome']" routerLinkActive="router-link-active"><p>
          <ion-icon name="exit-outline"></ion-icon>Sign-out</p>
        </ion-items>
      </ion-list>
    </ion-content>
  </ion-menu>
    
 




