<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Natural Disaster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe width="100%" height="100%" src="https://arsh-weather-app.herokuapp.com/"></iframe>
  <!-- <div #map id="map"></div> -->
  <!-- <ion-button (click)="getCurrentCoordinates()" expand="block" color="tertiary">
    Get Location
  </ion-button> -->

  
  <!-- <ion-grid>
   
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-input placeholder="Enter the sender phone #" [(ngModel)]="from" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-input placeholder="Enter the destination phone #" [(ngModel)]="to" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-input placeholder="Enter your SMS message" [(ngModel)]="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button expand="full" color="danger" (click)="sendSms()">
          Send It!
          <ion-icon slot="end" name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
