<ion-app>
  <ion-menu contentId="main" menuId="main" side="start" type="overlay">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <ion-label>
          <h1><b>Safety App</b></h1>
        </ion-label>
      </div>
      <ion-list class="menu-items" lines="none">
        <ion-items (click)="emm()" routerLinkActive="router-link-active"><p>
          <ion-icon name="people"></ion-icon>Emergency Contacts</p>
        </ion-items>
        <ion-items (click)="harass()" routerLinkActive="router-link-active"><p>
          <ion-icon name="woman"></ion-icon>Women Safety</p>
        </ion-items>
        <ion-items (click)="disaster()" routerLinkActive="router-link-active"><p>
          <ion-icon name="thunderstorm-sharp"></ion-icon>Natural Disaster</p>
        </ion-items>
        <ion-items (click)="accident()" routerLinkActive="router-link-active"><p>
          <ion-icon name="add"></ion-icon>Accident</p>
        </ion-items>
        <ion-items (click)="fire()" routerLinkActive="router-link-active"><p>
          <ion-icon name="flame"></ion-icon>Fire Incident</p>
        </ion-items>
        <ion-items (click)="signout()" routerLinkActive="router-link-active"><p>
          <ion-icon name="exit-outline"></ion-icon>Sign-out</p>
        </ion-items>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
