<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-buttons expand="block">
        <ion-menu-button menu="main"></ion-menu-button>
      </ion-buttons> 
    </ion-buttons>
    <ion-title>SAFETY APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
        <ion-icon  name="person" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="6">
        <ion-card color="danger" [routerLink] = "['/harassment']" routerLinkActive="router-link-active">

          <ion-icon name="woman">
          </ion-icon>
          <ion-text><h2>Women Safety</h2></ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="danger" [routerLink] = "['/natural-disaster']" routerLinkActive="router-link-active">
          <ion-icon name="thunderstorm-sharp">
          </ion-icon>
          <ion-text><h2>Natural Disaster</h2></ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="danger" [routerLink] = "['/accident']" routerLinkActive="router-link-active">
          <ion-icon name="add">
          </ion-icon>
          <ion-text><h2>Accident</h2></ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="danger" [routerLink] = "['/fire-incident']" routerLinkActive="router-link-active">
          <ion-icon name="flame" >
          </ion-icon>
          <ion-text><h2>Fire Incident</h2></ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>