<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Fire Incident</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d447107.8116006603!2d76.99667548486778!3d13.272786409527802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sFire%20Stations%20in%20karnataka!5e0!3m2!1sen!2sin!4v1653231053160!5m2!1sen!2sin" width="100%" height="60%" style="border:1px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  <div class="action-button">
    <div #map id="map"></div>
    <ion-label color="danger">Emergency SMS</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        
        <ion-list>
          <ion-item >
            <ion-select  interface="popover" placeholder="Select contact">
              <ion-select-option *ngFor="let contact of contacts" value="{{ contact.person.name }}">
              <ion-label><strong>{{contact.person.name}}</strong></ion-label>
            </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-input placeholder="Enter your SMS message" [(ngModel)]="text"></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button expand="full" color="danger" (click)="sendSms()" class="buttons">
          Send It!
          <ion-icon slot="end" name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    <!-- <ion-button>
      send alert
    </ion-button><br>
    <ion-button>
      check nearby fire station
    </ion-button> -->
  </div>
</ion-content>
